PORT=8000
MONGODB_URL = mongodb+srv://manukage:manukage123@cluster0.q5oh8uw.mongodb.net
CORS_ORIGIN =*
SECRET = "frmdlmsatiaasuabhuflesxybipjxl"


CLOUDINARY_CLOUD_NAME = skillsync
CLOUDINARY_API_KEY = 347386333987356
CLOUDINARY_API_SECRET = CG6Bbb-F7Rm2hWAEr9pENDBHbUg


STRIPE_KEY = sk_test_51P5WepSGYhB4FbT4rwuHL59BxryvHOWffUmTq4VCDVXpUP5dUPmKlaqlmU9GCFW8IeBYEVUBpqFnUOeHZiV9Hy7y00WLrCKFYT